*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
body{
  background-image: url(https://images.pexels.com/photos/2397653/pexels-photo-2397653.jpeg?cs=srgb&dl=pexels-jeremy-bishop-2397653.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.scale {
  animation: scale-anim 1s both ease-in-out infinite alternate;
}

@keyframes scale-anim {
  from {transform: scale(1)}
  to {transform: scale(1.5)}
}
.spread {
  transition: all 1s ease-in-out;
}
.spread:hover {
  letter-spacing: 1rem;
}