*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
body{
  background-image: url(https://images.pexels.com/photos/2397653/pexels-photo-2397653.jpeg?cs=srgb&dl=pexels-jeremy-bishop-2397653.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
